body 
{
    margin: 10px;
    font-family: "Times New Roman", serif;
}
form 
{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    border: 1px solid red;
    border-bottom: none;
}
.titl 
{
    height: 50px;
    text-align: center;
    color: rgb(143, 40, 40);
    font-size: 25px;
    text-shadow: 7px 9px 0 rgba(255, 0, 0, 0.265);
    padding-top: 15px;
}
.titl h4 
{
    margin: 0;
}
.menu 
{
    height: 38px;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    text-align: center;
    background-color: rgb(238, 143, 154);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.straight 
{
    width: 30px;
    color: rgb(108, 13, 172);
    vertical-align: middle;
    margin: 0 8px;;
    font-size: 30px;
}
.main-container 
{
    display: grid;
    grid-template-columns: 19% 54% 27%;
    min-height: 575px;
}
.left 
{
    padding-top: 7px;
}
.left aside 
{
    width: 100%;
}
.m1 
{
    background-color: rgb(238, 143, 154);
    width: 185px;
    height: 20px;
    border-radius: 30px;
    color: white;
    margin: 0 0 9px 0;
    padding: 2px 8px;
    font-size: 16px;
}
.company 
{
    width: 185px;
    height: 135px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 8px 15px 0 rgba(240, 125, 142, 0.548);
    margin-top: 5px;
}
.center 
{
    padding: 0 10px;
    box-sizing: border-box;
}
.center h2 
{
    color: rgb(143, 40, 40);
    background-color: rgb(238, 143, 154);
    width: 340px;
    margin: 10px 150px 0;
    font-size: 23px;
    letter-spacing: 10px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    padding-left: 10px;
}
.center ul 
{
    margin-top: 0;
    margin-bottom: 3px;
    padding-left: 20px;
}
.center li 
{
    font-size: 15px;
    line-height: 16px;
}
.best 
{
    color: darkgoldenrod;
}
.back 
{
    color: red;          
    margin-left: -20px;           
    margin-top: 5px;              
    margin-bottom: 12px;          
    text-decoration: underline;
    font-size: 14px;
}
.input 
{
    width: 600px;
    margin-top: 10px;
}
.input > div:nth-child(1),
.input > div:nth-child(2) 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;

    margin-bottom: 22px;
}
.input input[type="text"],
.input input[type="email"] 
{
    width: 100%;
    height: 40px;
    padding-left: 8px;
    border: 1px solid #aaa;
}
.choose-row 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
    margin-bottom: 22px;
}
.choose 
{
    width: 301px;
    height: 40px;
    padding-left: 5px;
}
.radio 
{
    align-content: top;
    gap: 10px;
    white-space: nowrap;
    font-size: 14px;
}
textarea 
{
    width: 100%;
    height: 58px;
    padding: 5px;
}
.nut 
{
    width: 60px;
    height: 32px;
    margin-top: 8px;
    margin-right: 3px;
}
.right 
{
    margin: 10px 0 0;
    background-color: black;
    color: white;
    padding: 4px 10px;
    height: 542px;
}
.right h2 
{
    color: white;
    background: none;
    width: auto;
    height: auto;
    line-height: normal;
    text-align: left;
    letter-spacing: 0;
    margin-left: -9px;
    margin-top: -5px;
    font-size: 24px;
}
.right h3 
{
    color: white;
    font-size: 18px;
    margin: 0 0 8px 20px;
}
.right img 
{
    display: block;
    width: 250px;
    height: auto;
    margin: 0 auto 5px auto;
}

.right p 
{
    font-size: 13px;
    line-height: 15px;
    margin: 0 10px 28px 20px;
}

.right a 
{
    color: white;
}
.footer 
{
    height: 40px;
    background-color: rgb(238, 143, 154);
    border: 1px solid red;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
.vegan
{
    color: red;
}
